.nav-header{
    min-height: 10vh;
    background: rgb(238, 245, 244);
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: larger;
    color: black;
    text-align: left;
    padding: 20px;
}

.nav-items{
    display: flex;
    list-style: none;
    color: black;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}