.App {
  text-align: center;
}

.table-box{
  
  margin-top: 20px;
}

.container{
  padding-left: 40px;
  padding-right: 40px;

}

.dropdown{
  display: flex;
  align-content: flex-end;
}

.row{
  padding-left: 10px;
}

.row-element{
  padding: 10px;
}

.button{
  display:flex;
  align-content: center;
  justify-content: end;
}